 body{
    background-color: rgb(196, 231, 231);
 }
.div1{
    margin-left: 35%;
}
.login_form{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 100px  70px;
    background-color:azure;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7)
}

.login_form input{
    width: 90%;
    margin :10px 12px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    

     border-color:aqua;
}
.login_form button{
    width: 92%;
    margin :8px 12px;
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: larger;
    border-style: none;
    

}
.forgot_link a{
     margin-left: 32%;
      text-decoration: none;
     
}
.create_button button{
    width: 55%;
    border-radius: 10px;
    margin-left: 22%;
    margin-top: 40px;
    background-color:red;
    color: white;
    font-size: larger;
    border-style: none;
    
    
}