 body{
    background-color:rgb(196, 231, 231);
 }

.container{
    width: 450px;
    height: 550px;
    background-color: azure;
    border-radius: 10px;
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.title h3{

    font-size: 35px;
    margin-left: 50px;
    margin-bottom: 0%;
}
.title p{
    margin-left: 140px;
    font-size: 20px;
    margin-top: 0%;
}
.name{
    display: flex;
    justify-content: space-around;
}
.name input{
    width: 42%;
    height: 35px;
    border-radius: 9px;
   border: 1px solid gray;
}
 .email {
    margin-top: 10px;
 }
 .email input{
    width: 92%;
    height: 35px;
    margin:  5px 12px;
    border-radius: 9px;
    border: 1px solid gray;
     
 }
 .passward{
    margin-top: 10px;
 }
 .password input{
    width: 92%;
    height: 35px;
    margin:  10px 12px;
    border-radius: 9px;
    border: 1px solid gray;
    
 }
  p{
    margin-left: 15px;
  }
 .date select{
    width: 120px;
    height: 35px;
    border-radius: 9px;
 }
 .month select{
    width: 120px;
    height: 35px;
    border-radius: 9px;
 }
 .year select{
    width: 120px;
    height: 35px;
    border-radius: 9px;
 }
 .dob{
    display: flex;
    justify-content: space-around;
    
 }
  .gender{
    display:  flex;
    justify-content: space-around;
  }
  .foot_info p{
      font-family: sans-serif;
      font-size: 12px;
  } 
  .signup_button button{
      width: 40%;
      background-color: red;
      margin: 15px 120px;
      height: 30px;
      border-radius: 10px;
  }
  .link a{
   text-decoration: none;
   margin-left: 120px;
  }